@tailwind base;
@tailwind components;
@tailwind utilities;

.wrap-balance {
    text-wrap: balance;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
.scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE and Edge */
}
